@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&display=swap');

:root {
  --font-family-modak: 'Amatic SC', sans-serif;
  --font-weight-normal: 100;
  --font-weight-bold: 700;
}